*{  /*All the page*/
    margin: 0;
    padding: 0;
    font-family: 'Shippori Mincho', serif;
}

body{
    background-color: #AD9B8A;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    align-items: center;
}

#menu{
    display: flex;
    justify-content:space-around;
    padding: 20px;
    /*position: fixed;
    background: #AD9B8A;
    width: 100%;*/
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;*/
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#menu a{
    margin: 0 30px;
    text-decoration: none;
    color: black;    
}

#menu a:hover{
    color: #5f5f5f;
}

.logo{
    padding: 20px 20px 20px 100px;
    width: 300px;
    height: 100px;
}

#divDados{
    display: flex;
    padding-right: 60px;
    position: relative;
}

#divDados p{
    margin: 20px;
}

/*.inicio{
    margin-top: 50px;
}*/

#introMenus{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px 50px;
}

#introMenus section{
    margin: 10px;
    padding: 25px;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    position: relative;
}

figcaption{
    position: absolute;
    top: 50px;
    right: 5px;
    left: 5px;
    background-color: #AD9B8A;
    font-size: large;
    color: black;
}

.imagensMenu{
    border-radius: 10px;
    width: 80%;
    /*justify-content: center;*/
}

footer{
    color: blanchedalmond;
    background-color: rgb(31, 31, 31);
    text-align: center;
}